body {
  padding-top: 0px;
}
.container,
.container-fluid{
padding-left:5px; padding-right:5px;
}
.row {
    margin-right: -5px;
    margin-left: -5px;
}

.navbar-header, .navbar-collapse{
    margin-right: -5px !important;
    margin-left: -5px !important;
}
.navbar-text{
  margin-bottom:10px;
}


.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.input-group-btn>.bootstrap-select.btn-group:nth-child(2)>.btn{
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.pagination{margin:5px 0}

.panel-heading>nav>.pagination,.panel-footer>nav>.pagination{margin:0}

.container-fluid{max-width:1000px;}

.google_ad{max-width:100%;overflow:hidden;}

.text-overflow-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	/*margin: 0;*/
}
.text-overflow-ellipsis-box{
  max-width: 100%;
  width: 100%;
  display: block;
}
.contents{ min-height:200px;}

/*
.btn-group[data-toggle="buttons"] .btn.active
,.btn-group[data-toggle="buttons"] .btn:active{
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.3);
	box-shadow: inset 0 3px 5px rgba(0,0,0,.3);
}
.btn-group[data-toggle="buttons"] .btn::before
,.btn-group[data-toggle="buttons"] .btn::before{
	content: "◎ ";
	visibility:hidden;
}
.btn-group[data-toggle="buttons"] .btn.active::before
,.btn-group[data-toggle="buttons"] .btn:active::before{
	visibility:visible;

}
*/
.clearB{clear:both;float:none;}

/* multiple input-group-addon */
.input-group-addon {
  border-left-width: 0;
  border-right-width: 0;
}
.input-group-addon:first-child {
  border-left-width: 1px;
}
.input-group-addon:last-child {
  border-right-width: 1px;
}

.input-group{margin-bottom:1px;margin-top:1px;}

@media (max-width: 768px) {
	.navbar-collapse{
		margin-right: 0px !important;
		margin-left: 0px !important;
		left: 0;
		right: 0;
		position:absolute;
		z-index:1030;
		background-color:#fff;
		box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.4);
	}
}


/*
last_bbs_columns
*/
.last-bbs-columns{

}
.last-bbs-columns-3{
  column-count: 1;

}
@media (min-width: 768px) {
  .last-bbs-columns-3{
    column-count: 2
  }
}
@media (min-width: 992px){
  .last-bbs-columns-3{
    column-count: 3
  }
}
.last-bbs-columns-content{
  break-inside:avoid;
}

/*
util
 */
.m-0{
	margin:0 !important;
}
.m-1{
	margin:0.25em !important;
}
.m-2{
	margin:0.5em !important;
}
.m-3{
	margin:1em !important;
}
.m-4{
	margin:1.5em !important;
}
.m-5{
	margin:3em !important;
}
.p-0{
	padding:0 !important;
}
.p-1{
	padding:0.25em !important;
}
.p-2{
	padding:0.5em !important;
}
.p-3{
	padding:1em !important;
}
.p-4{
	padding:1.5em !important;
}
.p-5{
	padding:3em !important;
}
.text-bold{
	font-weight: bold;
}


/* for pc */
@media all and (min-width:576px) {
	.mh-menu .menu-label{
		background-color: transparent;
	}
}
/* for mobile */
@media all and (max-width:575px) {
	.mh-menu .menu-label{
		background-color: transparent;
	}
}

/*
출력시 주소가 같이 나오는 것 제거
 */
@media print {
	a[href]:after {
		content: "" !important;
	}
}
