body {
  padding-top: 0px;
}

.container-fluid{
	max-width:none;
}

.navbar-header, .navbar-collapse{
    margin-right: -5px !important;
    margin-left: -5px !important;
}

.input-group-custom .input-group-addon{
  min-width:10em !important;
}

.hr-admin{
  margin:0.3em 0;
}
