RewriteEngine On
RewriteBase /
RewriteCond $1 !^(index\.php|img|captcha|data|etcmodule|include|uploads|robots\.txt|doc|asset)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /mh/index.php/$1 [L]
