@charset "UTF-8";

.table-calender{width:100%;table-layout:fixed;border-collapse:collapse; margin:0;}
.table-calender th{ 
padding:0 !important;
border-bottom-width: 0px !important;
}


.plan > .floating_label{
	opacity:0.5;
	font-size:8px;
}

.day-th>.day-th-label{
	background-color:#666;
	margin:3px;
	border-radius: 0.4em;
	color:#fff;
	!box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.4);
	line-height:1.8em;
}
.day-th-w-0>.day-th-label{
	background-color:#933;
	color:#fff;
}
.day-th-w-6>.day-th-label{
	background-color:#339;
	color:#fff;
}
.table-calender .day-th.day-th-w-1
, .table-calender .day-th.day-th-w-2
, .table-calender .day-th.day-th-w-3
, .table-calender .day-th.day-th-w-4
, .table-calender .day-th.day-th-w-5{
	width:14%;
}
.table-calender .day-th.day-th-w-0
, .table-calender .day-th.day-th-w-6{
	width:15%;
}

.table-calender td{}
.table-calender thead{}

.table-calender thead th{text-align:center;}
.table-calender .day-hide{visibility:hidden; padding:0; font-size:0;overflow:hidden;width:0;}
.table-calender .day-td{
	padding:0;
	/* width:14%; */
	border-top: 1px solid #abc;
}

td.day-td.day-td-today{

}
td.day-td.day-td-today>.day:before{
	content:"오늘";
	position:absolute;
	font-size:10px;
	margin:3px;
	font-weight:bold;
	color:#FF921E;
}
td.day-td.day-td-today>.day>.day-label{
	/* border-radius: 0% 0% 0.5em 1em; */
	/* line-height: 2em; */
	background-color:#ee583a;
	color:#fff;
	border-bottom: solid #ee583a 8px;
	
}

.table-calender .day{
	position:relative;
	height:100%;
	padding:0;
	overflow:visible;
}

.day > .day-bg{
	position:relative;
	z-index:1;
	border-right:1px solid #abc;
	min-height:6em;
}

.day-bg[data-day-bg-height="0"]{height:6em;}
.day-bg[data-day-bg-height="1"]{height:6em;}
.day-bg[data-day-bg-height="2"]{height:6em;}
.day-bg[data-day-bg-height="3"]{height:6em;}
.day-bg[data-day-bg-height="4"]{height:7.5em;}
.day-bg[data-day-bg-height="5"]{height:9em;}
.day-bg[data-day-bg-height="6"]{height:10.5em;}
.day-bg[data-day-bg-height="7"]{height:12em;}
.day-bg[data-day-bg-height="8"]{height:13.5em;}
.day-bg[data-day-bg-height="9"]{height:15em;}
.day-bg[data-day-bg-height="10"]{height:16.5em;}
.day-bg[data-day-bg-height="11"]{height:18em;}
.day-bg[data-day-bg-height="12"]{height:19.5em;}
.day-bg[data-day-bg-height="13"]{height:21em;}
.day-bg[data-day-bg-height="14"]{height:22.5em;}
.day-bg[data-day-bg-height="15"]{height:24em;}
.day-bg[data-day-bg-height="16"]{height:25.5em;}
.day-bg[data-day-bg-height="17"]{height:27em;}
.day-bg[data-day-bg-height="18"]{height:28.5em;}
.day-bg[data-day-bg-height="19"]{height:30em;}
.day-bg[data-day-bg-height="20"]{height:31.5em;}
.day-bg[data-day-bg-height="21"]{height:33em;}
.day-bg[data-day-bg-height="22"]{height:34.5em;}
.day-bg[data-day-bg-height="23"]{height:36em;}
.day-bg[data-day-bg-height="24"]{height:37.5em;}
.day-bg[data-day-bg-height="25"]{height:39em;}
.day-bg[data-day-bg-height="26"]{height:40.5em;}
.day-bg[data-day-bg-height="27"]{height:42em;}
.day-bg[data-day-bg-height="28"]{height:43.5em;}
.day-bg[data-day-bg-height="29"]{height:45em;}
.day-bg[data-day-bg-height="30"]{height:46.5em;}
.day-bg[data-day-bg-height="31"]{height:48em;}
.day-bg[data-day-bg-height="32"]{height:49.5em;}
.day-bg[data-day-bg-height="33"]{height:51em;}
.day-bg[data-day-bg-height="34"]{height:52.5em;}
.day-bg[data-day-bg-height="35"]{height:54em;}



.day-w-6 .day-bg{
	border-right-width:0px
}
.day > .plan{
	z-index:2;
	position:absolute;top:0px;left:0px;
	line-height:1.4em;
	height:1.4em;
	
	/*box-shadow: 0px 1px 0px 0px rgba(200,200,255,0.5);*/

}
.day > .plan > a{
	display:block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0 1px;
	text-align:center;
	border-radius: 0.3em;
	background-color:#e0e0e0;
}
.day > .plan-on > a{
	background-color:#f93;
	/*box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.4);*/
	z-index:4;
}
.day > .plan-on > a{
	color:#fff;
}
.day > .plan-this > a{
	background-color:#393;
	color:#fff;
}
.day > .plan-this > a{
	
}
.day > .plan-this.plan-on >a{
	background-color:#5e3;
}



.plan[data-plan-len="1"]{width:100%;}
.plan[data-plan-len="2"]{width:200%;}
.plan[data-plan-len="3"]{width:300%;}
.plan[data-plan-len="4"]{width:400%;}
.plan[data-plan-len="5"]{width:500%;}
.plan[data-plan-len="6"]{width:600%;}
.plan[data-plan-len="7"]{width:700%;}

.plan[data-plan-order="0"]{top:1.5em;}
.plan[data-plan-order="1"]{top:3em;}
.plan[data-plan-order="2"]{top:4.5em;}
.plan[data-plan-order="3"]{top:6em;}
.plan[data-plan-order="4"]{top:7.5em;}
.plan[data-plan-order="5"]{top:9em;}
.plan[data-plan-order="6"]{top:10.5em;}
.plan[data-plan-order="7"]{top:12em;}
.plan[data-plan-order="8"]{top:13.5em;}
.plan[data-plan-order="9"]{top:15em;}
.plan[data-plan-order="10"]{top:16.5em;}
.plan[data-plan-order="11"]{top:18em;}
.plan[data-plan-order="12"]{top:19.5em;}
.plan[data-plan-order="13"]{top:21em;}
.plan[data-plan-order="14"]{top:22.5em;}
.plan[data-plan-order="15"]{top:24em;}
.plan[data-plan-order="16"]{top:25.5em;}
.plan[data-plan-order="17"]{top:27em;}
.plan[data-plan-order="18"]{top:28.5em;}
.plan[data-plan-order="19"]{top:30em;}
.plan[data-plan-order="20"]{top:31.5em;}
.plan[data-plan-order="21"]{top:33em;}
.plan[data-plan-order="22"]{top:34.5em;}
.plan[data-plan-order="23"]{top:36em;}
.plan[data-plan-order="24"]{top:37.5em;}
.plan[data-plan-order="25"]{top:39em;}
.plan[data-plan-order="26"]{top:40.5em;}
.plan[data-plan-order="27"]{top:42em;}
.plan[data-plan-order="28"]{top:43.5em;}
.plan[data-plan-order="29"]{top:45em;}
.plan[data-plan-order="30"]{top:46.5em;}
.plan[data-plan-order="31"]{top:48em;}
.plan[data-plan-order="32"]{top:49.5em;}
.plan[data-plan-order="33"]{top:51em;}
.plan[data-plan-order="34"]{top:52.5em;}
.plan[data-plan-order="35"]{top:54em;}


.day > .day-label{
	position:absolute;top:0px;right:1px;
	display:block;
	font-size:0.9em;
	font-weight:bold;
	/* border-radius: 3px; */
	background-color:#eee;
	padding:2px 2px;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.3);
	z-index:3;
	line-height:1em;

	/*border:4px solid #FFFF80;*/
	border-width:0;
	/* height:32px;width:32px; */
	/* border-radius: 0% 0% 0.5em 1em; */
	line-height: 1em;
	/* background-color:#393; */
	/* color:#fff; */
}



.day-m-01,
.day-m-03,
.day-m-05,
.day-m-07,
.day-m-09,
.day-m-11
{
background-color:#ECFCF3;
background: #feffff; /* Old browsers */
background: -moz-linear-gradient(top,  #feffff 0%, #d2ebf9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #feffff 0%,#d2ebf9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #feffff 0%,#d2ebf9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 ); /* IE6-9 */


}
.day-m-02,
.day-m-04,
.day-m-06,
.day-m-08,
.day-m-10,
.day-m-12
{
	background-color:#F2F9FD;
background: #feffff; /* Old browsers */
background: -moz-linear-gradient(top,  #feffff 0%, #d2f7e1 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #feffff 0%,#d2f7e1 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #feffff 0%,#d2f7e1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2f7e1',GradientType=0 ); /* IE6-9 */

}

.day-w-0>.day> .day-label{color:#FFF;background-color:#933;}
.day-w-6>.day> .day-label{color:#FFF;background-color:#339;}
.day-w-1>.day> .day-label{}
.day-w-2>.day> .day-label{}
.day-w-3>.day> .day-label{}
.day-w-4>.day> .day-label{}
.day-w-5>.day> .day-label{}

.Ym.floating_label_parent > .floating_label{
	top:-0.5em;
	right:-0.2em;

	font-weight:normal;
}
.Ym{
	padding:1.2em 0 0.2em 0;
	width:4.2em;
	margin:3px 1px;
}
.Ym > .floating_label > .Ym-label-Y{
	top:0;
	font-weight: normal;
	font-size: 0.7em;
	box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.4);
	text-shadow:rgba(0, 0, 0, 0.2) 0px -1px 0px;
}
.Ym > .floating_label > .Ym-label-cnt{
	top:-1em;
	font-weight: normal;
	font-size: 0.5em;
	box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.4);
	text-shadow:rgba(0, 0, 0, 0.2) 0px -1px 0px;
	opacity:0.6;
	background-color:#993333;
}
.Ym > .Ym-label-m{
	line-height: 1em;
	font-size: 1.4em;
}
.Ym > .Ym-label-m2{
	line-height: 1em;
	font-size: 1.4em;
}
.Ym > .Ym-label-m-unit{
	font-size: 0.8em;
}

.plan > a > .b_category{
	font-weight: normal;
	font-size:0.5em;
	position: absolute;
	left: 0;
	margin-top:-0.5em;
	opacity:0.5;
}


