@charset "UTF-8";

.bbs-notice> .bbs-title{font-weight:bold;}

.bbs-dpeth .bbs-title a::before{
	content:'';width:0.5em;height:0.5em;
	border: 1px solid #abc;
	border-width: 0 0 1px 1px;
	box-sizing: border-box;
	display:inline-block;
	margin:0 5px 0.3em 0;
	}
.bbs-dpeth-0 .bbs-title a::before{content:none;}
.bbs-dpeth-1 .bbs-title a{padding-left:1em;}
.bbs-dpeth-2 .bbs-title a{padding-left:2em;}
.bbs-dpeth-3 .bbs-title a{padding-left:3em;}
.bbs-dpeth-4 .bbs-title a{padding-left:4em;}
.bbs-dpeth-5 .bbs-title a{padding-left:5em;}
.bbs-dpeth-6 .bbs-title a{padding-left:6em;}
.bbs-dpeth-7 .bbs-title a{padding-left:7em;}
.bbs-dpeth-8 .bbs-title a{padding-left:8em;}
.bbs-dpeth-9 .bbs-title a{padding-left:9em;}
.bbs-dpeth-10 .bbs-title a{padding-left:10em;}

.bbs-mode-read .bbs-title{word-break: break-all;}

.bbs_c .wform-answer{padding-left:5%;}

.bbs_c .bc_comment{
	word-wrap: break-word;
}

.bbs_c .bc_depth dt::before ,
.bbs_c .bc_depth form dt::before{
content: '';
width: 0.5em;
height: 0.5em;
border: 1px solid #abc;
border-width: 0 0 1px 1px;
box-sizing: border-box;
display: inline-block;
margin: 0 5px 0.3em 0;
margin-left:-1em;
}
.bbs_c .bc_depth-0{margin-left:0%;}
.bbs_c .bc_depth-0 dt::before{content: none;}
.bbs_c .bc_depth-1{margin-left:2%;}
.bbs_c .bc_depth-2{margin-left:4%;}
.bbs_c .bc_depth-3{margin-left:6%;}
.bbs_c .bc_depth-4{margin-left:8%;}
.bbs_c .bc_depth-5{margin-left:10%;}
.bbs_c .bc_depth-6{margin-left:12%;}
.bbs_c .bc_depth-7{margin-left:14%;}
.bbs_c .bc_depth-8{margin-left:16%;}
.bbs_c .bc_depth-9{margin-left:18%;}
.bbs_c .bc_depth-10{margin-left:20%;}
.bbs_c .bc_nick_guest::after{
	content:"(Guest)";
	color:#d6b986;
	position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: top;
}
.mode-form-file-item{min-height: 170px;}
.drag-and-drop-files{background-color: #f5f5f5; border:2px dashed #666;}
/* 첨부파일 버튼으로 만들기 */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* 첨부파일 미리보기용 */
.img-preview{
	max-height: 240px;
	min-height: 100px;
	padding:5px 0;
  overflow: auto;}
.img-preview img{max-width:95%}

/* 플로팅 라벨 부모가 relative여야한다. */
.floating_label_parent{position:relative;}
.floating_label{position:absolute;top:5px; right:5px;}
.floating_label > .label{cursor:default;}
.floating_label > .bf_cnt{background-color:#933;}
.floating_label > .bc_cnt{background-color:#396;}
.floating_label > .is_new{background-color:#E8A437;}
.floating_label > .b_secret{background-color:#EA4D3C;}

/* 목록용 썸네일 박스 */
.thumbnail-div{height:170px; padding:5px;}
.thumbnail-div a:focus,
.thumbnail-div a:hover {text-decoration:none;}

.thumbnail-box{
	height: 100%;
	max-height: 94%;
	margin:3% 0;
  overflow: hidden;
}
.thumbnail-box img{max-width:100%;max-height:100%;}

.thumbnail-box div.no-thumbnail{
	height:100%; background-color:#333;
	display: table;
	width: 100%;
	color:#fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0;
}
.thumbnail-box div.no-thumbnail::before{
	content:"No-Thumbnail"; color:#fff;
	height:100%; display:table-cell;
	vertical-align: middle;

}

/* bootstrap-datepicker bugfix*/
.input-daterange .input-group-addon:first-child{
	border-width: 1px;
}
.skin-form .input-daterange{
	width:auto;
}

/* inner tag limit max-width */
.contents-area{
	word-break:break-all;word-wrap:break-word;
}
.contents-area img,
.contents-area iframe{max-width:100%;}

/**
* 반응형 (너무 작은 화면일 경우 제어용)
*/
@media (max-width: 768px) {
	ul{padding-left:1em;}
}

/**
* 코멘트 관련
*/
.bc-star{}
.bc-star-0{}
.bc-star-1{color:#963}
.bc-star-2{color:#096}
.bc-star-3{color:#039}
.bc-star-4{color:#C30}
.bc-star-5{color:#939}
span.bc-star-1::before{content:'★☆☆☆☆'}
span.bc-star-2::before{content:'★★☆☆☆'}
span.bc-star-3::before{content:'★★★☆☆'}
span.bc-star-4::before{content:'★★★★☆'}
span.bc-star-5::before{content:'★★★★★'}


/**
* 달력 폼용
*/
.for-geo-form{}
.for-geo-hide .for-geo-form{display:none;}


/* b_date_st , b_date_ed 용 */
.bbs-list-table .b_date_st_ed{position: relative;}
.b_date .b_date_ed{display: none;}
.b_date_st_ed .b_date_st{position: absolute; display: block;top:0; left:0;}
.b_date_st_ed .b_date_ed{position: absolute; display: block;bottom:0; right:0;font-size: small; opacity: 0.8}
.b_date_st_ed .b_date_ed::before{content: '~ ';}



.bbs_feed_icon_14x14{
	display: inline-block;
	width: 14px; height: 14px;
 	background-image: url("../../../img/feed-icon-14x14.png")
}

.div_iframe_htmlOgp{ border: 0px solid #eee;}
.iframe_htmlOgp{width:100%; max-width:320px; height: 260px; border: 1px solid #eee;box-shadow: 2px 2px 5px #999; opacity: 0}
