
.unit_card{
	padding:5px;
	
}

.unit_card_box{
	display:inline-block; 
	max-width:168px;
	min-width:150px;
	width:45%;
	
}
.unit_card_table{
	border-width:0;
	table-layout:fixed;
	margin:0 auto;
}
.unit_card_table td{
	border-width:0;
	padding:0; margin:0
}
.unit_card_table td.text-dot{
	overflow:hidden;
	height:2px;
	line-height: 2px;
}

.unit_card_img{
	display:block;
	position:relative;
	margin:5px auto;
	max-width:168px;
	min-width:150px;
	background-color:#fff;
}
.unit_card_img:hover > img{
	box-shadow: 2px 2px 5px #333;
	opacity:0.9
}
.unit_card_img img{max-width:100%;}

.unit_card_img > .unit_name{
	position:absolute;
	left: 10px;
	right: 10px;
	bottom: 5px;
	background-color:rgba(255,255,255,0.3);
	border-radius: 3px;
	font-weight:bold;
	color:#fff;
}
.unit_card_img > .avg_star{
	position:absolute;
	left: 5px;
	top: 25px;
	background-color:rgba(0,0,0,0.2);
	border-radius: 3px;
	font-weight:bold;
	#color:#fff;
	font-size:20px;
	#text-shadow: 1px 1px 0.5em rgba(255,255,255,0.4);
}
.avg_star-0{display:none}
.avg_star-1{
	color:#963;
	text-shadow: 1px 1px 0.5em #963;
}
.avg_star-2{
	color:#096;
	text-shadow: 1px 1px 0.5em #096;
}
.avg_star-3{
	color:#86A9F0;
	text-shadow: 1px 1px 0.5em #86A9F0;
}
.avg_star-4{

	color:#C30;
	text-shadow: 1px 1px 0.5em #C30;
}
.avg_star-5{
	color:#939;
	text-shadow: 1px 1px 0.5em #939;
}

.unit_card_img > .unit_properties{
	position:absolute;
	left: 5px;
	top: 5px;
}

.unit_card_img > .unit_rank{
	display:block;
	
	position:absolute;
	right: 2px;
	top: 2px;
	
}

.unit_rank{
	width:1.5em;height:1.5em;
	line-height:1.5em;
	font-weight:bold;
	font-style: italic;
	border-radius: 1em;
	color:#fff;
	font-size:20px;
	background-color:rgba(0,0,0,0.5);
	display:inline-block;
	text-align:center;
}

.unit_rank.unit_rank-C{
	color:#BEFFE4;
	text-shadow: 1px 1px 0.5em #BEFFE4;
}
.unit_rank.unit_rank-B{
	color:#BED6FF;
	text-shadow: 1px 1px 0.5em #BED6FF;
}
.unit_rank.unit_rank-A{
	color:#FF8D56;
	text-shadow: 1px 1px 0.5em #FF8D56;
}
.unit_rank.unit_rank-S{
	color:#FFFF95;
	text-shadow: 1px 1px 0.5em #FFFF95;
}

.row > div{margin-bottom:2px;}