/* 기본 */
a:hover,a:focus{
	text-decoration: none !important;
}


.unit_card{
	padding:5px;
	
}

.unit_card_box{
	display:inline-block; 
	max-width:168px;
	min-width:150px;
	width:45%;
	
}

.unit_card_a:hover{
	text-decoration: none !important;
}

.unit_card_table_layout{
	border-width:0;
	table-layout:fixed;
	margin:0 auto;
	width:100%;
}
.unit_card_top_info{
	height:130px;
	margin-bottom: -130px;
	z-index: 2;
	position: relative;
}
.unit_card_bottom_info{
	margin-top: -65px;
	z-index: 2;
	position: relative;
}
.unit_card_bottom_info td{
	vertical-align:bottom;
	height:60px;
}

.unit_card_table_layout td{
	border-width:0;
	padding:0; margin:0;
	
}
.text-dot{
	overflow:hidden;
	height:2px;
	line-height: 2px;
}

.unit_card_img{
	display:block;
	position:relative;
	margin:5px auto;
	max-width:168px;
	min-width:150px;
	background-color:#fff;
}
.unit_card_img:hover  img{
	box-shadow: 2px 2px 5px #333;
	opacity:0.9
}
.unit_card_img img{max-width:100%;}

.unit_card_img .unit_name{
	text-align:center;
	margin:0 5px;
	background-color:rgba(255,255,255,0.3);
	border-radius: 3px;
	font-weight:bold;
	color:#fff;
}
.unit_card_img .avg_star{
	font-size:20px;
	display:block;
	background-color:rgba(0,0,0,0.2);
	width:20px;
	padding:0px;
	margin-left:5px;
}
.avg_star{
	line-height:1em;
	padding:2px;
	border-radius: 3px;
	font-weight:bold;
	display:inline-block;
}

.avg_star-0{display:none}
.avg_star-1{
	color:#963;
	text-shadow: 1px 1px 0.5em #963;
}
.avg_star-2{
	color:#096;
	text-shadow: 1px 1px 0.5em #096;
}
.avg_star-3{
	color:#86A9F0;
	text-shadow: 1px 1px 0.5em #86A9F0;
}
.avg_star-4{

	color:#C30;
	text-shadow: 1px 1px 0.5em #C30;
}
.avg_star-5{
	color:#939;
	text-shadow: 1px 1px 0.5em #939;
}

.unit_card_img  .unit_properties{
	margin:0px 0px 0 5px;
}

.unit_card_img .unit_rank{
	margin:0px 2px 0 0;
}
.unit_rank{
	width:30px;
	height:30px;
	line-height:1.5em;
	font-weight:bold;
	font-style: italic;
	border-radius: 1em;
	color:#fff;
	font-size:20px;
	background-color:rgba(0,0,0,0.8);
	display:inline-block;
	text-align:center;
}

.unit_rank.unit_rank-C{
	color:#ccc;
	text-shadow: 1px 1px 0.5em #ccc;
}
.unit_rank.unit_rank-B{
	color:#86A9F0;
	text-shadow: 1px 1px 0.5em #86A9F0;
}
.unit_rank.unit_rank-A{
	color:#FF8D56;
	text-shadow: 1px 1px 0.5em #FF8D56;
}
.unit_rank.unit_rank-S{
	color:#FFFF95;
	text-shadow: 1px 1px 0.5em #FFFF95;
}

.row > div{margin-bottom:2px;}

a.unit_properties_num:hover{opacity:0.8;}
.unit_properties_num-1{ background-color: #d9534f;}
.unit_properties_num-2{ background-color: #5bc0de;}
.unit_properties_num-3{ background-color: #5cb85c;}

.last_comments .unit_name{
	display:inline-block;
	text-align:center;
	margin:0 1px;
	padding:0 5px;
	
	border-radius: 5px;
	font-weight:bold;
	color:#fff;
}

/* 상세부분 */
.unit_weapon{
}
.unit_weapon::after{
	content: "";
	clear: both;
	display: block;
}
.unit_weapon img{
	
}
.unit_weapon_name{margin-top:-1em;line-height:2em;width:114px;text-align:center;font-weight:bold;}
.unit_skill::after{
	content: "";
	clear: both;
	display: block;
}
.unit_skill > img{float:left;}
.unit_skill_name{font-weight:bold;}

.last_comments table{table-layout:fixed;width:100%; margin:0;padding:0;}
.last_comments table td{padding:0;margin:0;}
.table-vertical-middle td{vertical-align:middle !important;}
.last_comments .bc_name{display:inline-block;}